<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" routerLink="/">MyShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="category/0">Book</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category/1">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category/2" >Clothes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category/3" >Drink</a>
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="currentUser==null; else existUser">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Sign In</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
      </ul>

      <ng-template #existUser>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile">{{currentUser.name}} </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/" (click) = "logout()">Sign out</a>
          </li>
        </ul>
      </ng-template>

      <!-- <ul class="navbar-nav">
        <ng-container *ngIf="currentUser==null; else existUser">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Sign In</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/signup">Sign Up</a>
          </li>
        </ng-container>
        <ng-template #existUser>
          <li class="nav-item">
            <a class="nav-link" routerLink="/">{{currentUser.name}} </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/">Sign out</a>
          </li>
        </ng-template>
      </ul> -->
    </div>
  </nav>
